* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

input {
  width: 100%;
}

body {
  background: linear-gradient(rgb(107, 4, 4), rgb(117, 6, 121));
  height: 100vh;
}

h1 {
  background: linear-gradient(yellow, rgb(216, 216, 121));
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(245, 229, 2);
  margin: 20px auto;
}

#clock-container,
#stopWatch-container,
#calculator-container {
    margin: 10px auto;
    width: 70%;
    font-size: 24px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.521);
    color: white;
    text-align: center;
    border: 3px double white;
}

#clock-container {
  padding: 10px;
  font-size: 30px;
}

.btn-cont {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.btn-cont button {
  width: 100%;
  height: 4em;
}

#screen {
  margin: 0 auto;
  height: 65px;
  border: 4px double rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgba(253, 250, 250, 0.267);
  margin-bottom: 18px;
}

#secondnum{
    margin-top: 15px;
}
